1 - Imprime la frase "Escuela de Datos de Alura".

In [9]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:
Nombre: [tu nombre]
Apellido: [tu apellido]

In [11]:
print("Nombre: Carolina")
print("Apellido: Cappato")

Nombre: Carolina
Apellido: Cappato

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:
Á
L
V
A
R
O

In [12]:
print("C")
print("A")
print("R")
print("O")
print("L")
print("I")
print("N")
print("A")

C
A
R
O
L
I
N
A

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:
28 febrero 2003

In [13]:
print(22, "noviembre", 1993)

22 noviembre 1993

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:
Año actual: [año]

In [14]:
print("Año actual:", 2025)

Año actual: 2025